#contactPageMain {
    display: flex;
    flex-direction: row;
    gap: 0 12rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#contactPageMain .btn,#contactPageMain .btn:active {
    background-color: var(--color-accent-primary) !important;
    border: none;
}
#contactPageTitle{
    width: 100%;
    text-align: center;
    margin: 2rem 0;
}

.card{
    width: 28rem;
    height: 33rem;
    background-color:var(--color-bg-surface) ;
    color: var(--color-text-muted);
}

.sendEmailDirectCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:var(--color-bg-surface) ;
    color: var(--color-text-muted);
    height: 33rem;
    margin: 0;
}
.sendEmailDirectCard .inputField > input:focus,
.sendEmailDirectCard .inputField > textarea:focus
,.sendEmailDirectCard .termsAndConditionsCheckbox 
> div > input:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid var(--color-bg-surface);
}

.sendEmailDirectCard .termsAndConditionsCheckbox 
> div > input:checked{
    background-color: var(--color-accent-primary);
    border-color: var(--color-text-muted);
    box-shadow: none;
}