@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
@theme{
    --color-text-main:#3B2F2F;
    --color-text-muted:#ffe9c0;
    --color-accent-secondary:#6F4E37;
    --color-bg-surface:#4B3832;
    --color-accent-primary:#d2691e;

    --color-espresso: #3E2723;   /* Main Text / Primary Buttons */
    --color-dark-roast: #5D4037; /* Secondary Text / Icons */
    --color-latte: #D7CCC8;      /* Borders / Accents */
    --color-steamed-milk: #F5F5F5; /* Page Background #fffde2?*/
    --color-cream: #FFF8E1;      /* Card Highlights / Alternates */

    --font-title: 'Playfair Display', serif;

}
@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
}
