#heroSectionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #D2AF92;
    padding: 4rem 0;
}
#heroSectionContainer > .heroSectionText{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
.heroSectionText > .heroSectionTitle{
    font-size: 4rem;
}
#heroSectionContainer > .imageOfMeContainer{
    height: 20rem;
    width: 20rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 7px #6F4E37;
    background: var(--color-cream);
}
#imageOfMe{
    height: 90%;
}
/*==============================================================*/
#whatIDoContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    gap: 2rem;
    padding: 5rem 0;
    background: #f3ebe2;
}
.whatIDoContainerTitle{
    width: 100%;
    font-size: 4rem;
}
#whatIDoContainer> article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20em;
    padding: 20px;
    background-color: var(--color-cream);
    color: var(--color-espresso);
    border-radius: 2%;
    box-shadow: 1px 1px 10px 4px #6F4E37;
 }
.iconContainer{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #D2AF92;
}
.mainIcon{
    height:70%;
}